body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Couleur de fond sombre */
  color: #E0E0E0; /* Couleur du texte claire */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Pour éviter la barre de défilement */
  height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
}

.dashboard-title {
  color: #006EB8; /* Couleur bleu caractéristique de Vestas */
  text-align: center;
  font-size: 2.5em;
  margin: 20px 0;
  font-weight: bold;
}

.tablink-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabs {
  display: flex;
  margin: 20px;
}

.tablink {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #1E1E1E; /* Couleur de fond des onglets en sombre */
  color: #E0E0E0; /* Texte clair pour contraste */
  border: 1px solid #333333;
  margin: 10px 5px; /* Espacement entre les onglets */
  border-radius: 5px;
}

.tablink.active {
  background-color: #333333; /* Couleur plus claire pour indiquer l'onglet actif */
  color: #FFFFFF;
  font-weight: bold;
}

.tabcontent {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(20px); /* Position décalée initiale pour effet de glissement */
  color: #E0E0E0;
  border: 1px solid #333333;
  padding: 20px;
  flex-grow: 1;
}

/* Lorsque l'onglet est affiché */
.tabcontent.active {
  display: block; /* Afficher le contenu */
  opacity: 1;
  transform: translateX(0); /* Ramener à la position initiale */
}

.months {
  margin: 20px 0;
}

.month-btn {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #1E1E1E; /* Couleur de fond des onglets en sombre */
  color: #E0E0E0; /* Texte clair pour contraste */
  border: 1px solid #333333;
  border-radius: 5px;
}

.month-btn.active {
  background-color: #333333; /* Couleur plus claire pour indiquer l'onglet actif */
  color: #FFFFFF;
  font-weight: bold;
}

.chart-container {
  background-color: #1E1E1E; /* Fond sombre pour la zone de graphique */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  height: 100%; /* Laissez le graphique s'adapter à la hauteur */
}

.filter-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: #E0E0E0;
}

/* Style pour harmoniser le filtre "Sélectionner un collègue" */
.select-colleague {
  font-size: 1em;
  color: #B0B0B0; /* Couleur harmonisée avec le thème sombre */
  background-color: #333; /* Fond assorti au thème sombre */
  border: 1px solid #666; /* Bordure discrète */
  padding: px 10px;
  border-radius: 4px; /* Coins arrondis pour un aspect moderne */
  outline: none;
}

.select-colleague option {
  background-color: #333;
  color: #B0B0B0;
}

/* Applique des changements visuels lors du survol */
.select-colleague:hover {
  background-color: #444;
}

.select-colleague:focus {
  border-color: #00A0FF; /* Couleur de focus alignée avec les autres éléments du tableau de bord */
  box-shadow: 0 0 5px rgba(0, 160, 255, 0.5);
}

canvas {
  background-color: #1E1E1E;
  width: 100% !important;  /* Assure que le canvas prend toute la largeur disponible */
  height: auto !important; /* Ajuste la hauteur en fonction de la largeur pour garder les proportions */
  max-height: 400px; /* Limite la hauteur maximale pour éviter que le graphique devienne trop grand */
}

#myChart2024, #myChart2025 {
  display: none;
}

#myChart2024.visible, #myChart2025.visible {
  display: block;
}